---
apiVersion: admissionregistration.k8s.io/v1
kind: ValidatingWebhookConfiguration
metadata:
  name: validating-webhook-configuration
webhooks:
- admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: webhook-service
      namespace: system
      path: /validate-aws-maruina-k8s-v1alpha1-awsauthitem
  failurePolicy: Fail
  name: vawsauthitem.aws.maruina.k8s
  rules:
  - apiGroups:
    - aws.maruina.k8s
    apiVersions:
    - v1alpha1
    operations:
    - CREATE
    - UPDATE
    resources:
    - awsauthitems
  sideEffects: None
