---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - ""
  resources:
  - configmaps
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - aws.maruina.k8s
  resources:
  - awsauthitems
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - aws.maruina.k8s
  resources:
  - awsauthitems/finalizers
  verbs:
  - update
- apiGroups:
  - aws.maruina.k8s
  resources:
  - awsauthitems/status
  verbs:
  - get
  - patch
  - update
