name: Release Artifacts

on:
  release:
    types: [published]

jobs:
  release:
    name: release-artifacts
    runs-on: ubuntu-latest
    env:
      IMG: ghcr.io/maruina/aws-auth-manager:${{ github.event.release.tag_name }}
    steps:
      - uses: actions/checkout@v2.4.0

      - uses: actions/setup-go@v2
        with:
          go-version: ^1.16

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v3
        with:
          # list of Docker images to use as base name for tags
          images: |
            ghcr.io/maruina/aws-auth-manager
          # generate Docker tags based on the following events/attributes
          tags: |
            type=ref,event=tag
            type=sha

      - name: Login to GitHub Packages
        uses: docker/login-action@v1.13.0
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v2.9.0
        with:
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
