name: Test E2E

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  test-build:
    name: test-e2e
    runs-on: ubuntu-latest
    env:
      IMG: controller:kind
      CLUSTER: kind
      CERT_MANAGER: v1.7.1
    steps:
      - uses: actions/checkout@v3.0.0

      - uses: actions/setup-go@v3
        with:
          go-version: 1.17

      - name: Create kind cluster
        uses: helm/kind-action@v1.2.0
        with:
          cluster_name: ${{ env.CLUSTER }}

      - name: Install cert-manager
        run: kubectl apply -f https://github.com/jetstack/cert-manager/releases/download/${{ env.CERT_MANAGER }}/cert-manager.yaml

      - name: Build and push
        run: make docker-build

      - name: Push the image to Kind cluster
        run: make kind-load

      - name: Install CRDs
        run: make install

      - name: Install manifests
        run: make deploy

      - name: Wait for controller to be ready
        run: |
          count=0
          until [ '1' == "$( kubectl get deploy aws-auth-manager-controller-manager -n aws-auth-manager-system -o json | jq 'try .status.readyReplicas' )" ]; do
            echo -n '.'
            sleep 5
            count=$((count + 1))
            if [[ ${count} -eq 6 ]]; then
              echo ' No more retries left!'
              exit 1
            fi
          done
          echo ' done'

      - name: Deploy example AWSAuthItem
        run: kubectl apply -f config/samples/mixed.yaml

      - name: Test AWSAuthItem
        run: |
          echo -n ">>> Waiting for expected conditions"
          count=0
          until [ 'true' == "$( kubectl get awsauthitems.aws.maruina.k8s mixed -o json | jq 'try .status.conditions | map( { (.type): .status } ) | add | .Ready=="True"' )" ]; do
            echo -n '.'
            sleep 5
            count=$((count + 1))
            if [[ ${count} -eq 6 ]]; then
              echo ' No more retries left!'
              exit 1
            fi
          done
          echo ' done'

      - name: Test ARN validation webhook
        run: |
          output=$(kubectl apply -f config/samples/invalid.yaml || true)
          substring="The AWSAuthItem \"invalid\" is invalid"
          if [ -z "${output##*$reqsubstr*}" ]; then
            echo 'Invalid AWSAuthItem failed validation'
            exit 0
          else
            echo 'Validation Webhook not working as expected'
            exit 1
          fi
